/* task 10: choose 2-4 colors for your theme and add them as font or background colors*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* task 11: add flexbox to the div with a class named navBar.*/


/* task 12: style your nav bar so the links change color/style when your hover over them.*/


/* task 13: add at least 1 Google Font - either for the headers or paragraphs. Or both! Also, make sure it's linked in the html pages you want it used on!*/

.navBar{
  display:flex;
  justify-content:space-around;
}

a {
  color: #d62418;
  text-decoration:none;
}
a:visited{
  color: #fee975;
}

a:hover{
  font-size:22px;
  color:#69f02b;
}


/* task 14: add a border to the images.*/
.companies {
  display: flex;
  justify-content: space-around;
}

.home {
  text-align: center;
}

.companies{
  border:2.5px solid skyblue;
}

.student {
  border: 1px solid white;
  width: 300px;
  text-align: center;
}

.student img {
  width: 200px;
}

.students{
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #20dce3;
  font-family: 'Bebas Neue', cursive;
}

img {
  width: 400px;
}



